body {

}

.App {
     /* background: url(./photos/spaceship.jpeg) no-repeat center center fixed; */
     background: #63A9C8;
     height: 100vh;
     /* background-size:contain; 
     background-repeat: no-repeat; 
     height:100vh;
    -webkit-background-size: cover; 
     -moz-backgroundfdgh-size: cover; 
     -o-background-size: cover;  */
     /* background-size: cover;  */
     overflow-y: ;
}  


.navigation {
  display: grid;
  height: 70px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  position: relative;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}

.nav-link-logged-out {
  grid-column: 1/2;
  justify-content: center;
}
.nav-link-logged-in {
  grid-column: 3/4;
  justify-content: center;
  text-align:right;
}

.nav-link {
  display: inline-block;
  justify-content: space-around;
  padding: 8px;
  text-decoration: none;
  color: #ffffff;
  font-weight: bolder;
  font-size: larger;
}

 .login-screen {
  justify-items: center;
  align-items: center;
} 

.form-container {
  background: #E0E0E0;
  width: 600px;
  height: 390px;
  position: relative;
  text-align: center;
  vertical-align: middle;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  margin: auto;
  margin-top: 320px;
  padding: 10px 20px 10px 20px;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2),
  0 7px 20px 0 rgba(0, 0, 0, 0.2);
}

.form-container input{
  border-radius: 10px;
  width: 80%;
  height:34px;
  border: none;
  margin: 12px;
}
.form-container input[type=submit]{
  border-radius: 10px;
  border: none;
  background: #63A9C8;
  color: #ffffff;
  width: 80%;
}

.forgot-password {
  color: red;
}


/* MAIN SECTION */

.main-container {
  display: grid;
  margin-top: 12px;
  grid-template-columns: 230px 2fr 2fr;
  grid-template-rows: 1fr 1fr 1fr;
  height: 100vh;
  overflow-x: none;
  overflow-y: none ;
  animation: transitionIn 0.75s;
}

@keyframes transitionIn {
  from {
    opacity: 0;
    transform: rotateX(-10deg)
  }

  to {
    opacity: 1;
    transform: rotateX(0)
  }
}

/* SIDEBAR SECTION */

.sidebar-container {
  grid-column: 1/2;
  grid-row: 1/4;
  background-color: rgb(4, 4, 4);
  padding: 24px 24px 0 24px;
}

.sidebar-link {
    display: block;
    justify-content: space-around;
    padding: 8px;
    text-decoration: none;
    color: #ffffff;
    font-weight: bolder;
    font-size: larger;
    border: none;
    background: none;
}

.sidebar-link:hover {
  background: #ffffff;
  color: #000000;
  border-radius: 3px;
}
.sidebar-link.active {
  background: #ffffff;
  color: #000000;
  border-radius: 3px;
}


/* PLAYLIST CARD */
.card-container{
  margin: 12px;
  padding: 18px;
  text-overflow: clip;
  max-width: 200px;
  background: #63A9C8;
  border-radius: 10px;
}

.card-container:hover{
  text-overflow: clip;
  max-width: 200px;
  background: #8EE0EE;
  border-radius: 10px;
}

.card-image{
  height: 200px;
  max-width: 200px;
  border-radius: 5px;
}

.card-name {
  overflow: hidden;
  display: block;
  white-space: nowrap;
}

.button-area{
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.review-btn{
  border: none;
  height: 20px;
  /* margin: 12px; */
}
.review-btn:hover{
  background:#287C9B;
  color: #ffffff;
}

.more-btn{
  border: none;
  height: 20px;
  /* margin: 12px; */
}
.more-btn:hover{
  background: #287C9B;
  color: #ffffff;
}

/* HOME SECTION  */

.home-container {
  background: #333333;
  grid-column: 2/4;
  grid-row: 1/4;
}

.home-container h1 {
  color: #ffffff;
  margin: 10px;
}

/* SEARCH SECTION */

.search-container {
  background: #333333;
  grid-column: 2/4;
  grid-row: 1/4;
  overflow-y: scroll;

}

.search-container h1 {
  color: #ffffff;
  margin: 10px;
}

.search-form{
  margin: 12px;
}

.search-form input[type=text]{
  width: 500px;
  height: 40px;
  border-radius: 10px;
  border: none;
  font-size: larger;
  outline: none;
}
.search-form input[type=submit]{
  width: 80px;
  height: 40px;
  border-radius: 10px;
  background: #63A9C8;
  color: #ffffff;
  border: none;
}

.search-showcase {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;

}

@media only screen and (max-width: 1550px) {
  .search-showcase {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
@media only screen and (max-width: 1300px) {
  .search-showcase {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media only screen and (max-width: 1030px) {
  .search-showcase {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

/* MODAL SECTION  */

.modal {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(10, 0, 0, .7);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease-in-out;
}

.modal-content {
  border-radius: 8px 0 5px 5px ;
  width: 500px;
  height: 300px;
  background-color: #fff;
  z-index: 1;
}

.modal-header{
  padding: 10px;
  display: grid;
  grid-template-columns: 15fr 1fr;
}

.modal-title {
  margin: 0;
}

.modal-body {
  padding: 10px;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
}

.modal-form {
  display: grid;
  grid-template-rows: 4fr 1fr;
  margin: 10px;
}

.modal-form input[type=textarea]{
  margin: 10px;
  height: 80%;
  width: 90%;
  grid-row: 1/2;
  text-align:left;
}

.modal-form input[type=submit]{
  margin: 10px;
  height: 80%;
  width: 90%;
  grid-row: 2/3;
}



/* REVIEW SECTION  */

.reviews-container {
  background: #333333;
  grid-column: 2/4;
  grid-row: 1/4;
  overflow-y: scroll;
}

.reviews-container h1 {
  color: #ffffff;
  margin: 10px;
}

/* REVIEW CARD  */

.review-card-container {
  background: white;
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
}

/* PLAYLIST SHOW SECTION  */

.playlist-container{
  background: #333333;
  padding:0;
  grid-column: 2/4;
  grid-row: 1/4;
  overflow-y:auto;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 12px;
  animation: transitionIn .75s;

}

.playlist-card{
  grid-row: 1/2;
  grid-column: 1/2;
  margin: 18px;
  border-right: solid 2px white;

}

.playlist-card iframe {
 
  width: 95%;
  height: 100%;
  /* margin: 20px; */
  margin-right: 200px;
  box-shadow: inset 0 1px 0 hsla(0, 0%, 100%, .1),
  0 1px 2px #222;
  border-radius: 3px;
  /* background-color: #88169d; */



}

.playlist-image {
  grid-row: 1/2;
  grid-column: 2/3;
  margin: 18px;
}

.playlist-image a {
  color: white;
}

.playlist-image h3{
  color: white;
  text-decoration: none;
}
.playlist-image p{
  color: rgb(255,255,230);
}

.playlist-image img {
  width: 400px;
  height: auto;
  -webkit-transition: 200ms opacity;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 3px;
  box-shadow: inset 0 1px 0 hsla(0, 0%, 100%, .1),
  0 1px 2px #222;
  display: block;
  overflow: hidden;
  line-height: 0;

}

.forum-container {
  grid-row: 2/3;
  grid-column: 1/3;
  margin-top: 20px;
  background-color: #222129;
}

